.tarjeta-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    height: 300px;
    transition-duration: 300ms;
}

.ultimas{
    padding: 0px 4px 0px 4px;
    background-color: #cd3d35;
    color: white;
}

.tarjeta-producto:hover{
    scale:1.1;
}

.precio{
    color: gray;
}




h3{
    font-size: 0.8rem;
    width: 200px;
    text-align: center;
    
}

.tarjeta-producto img{
    width: 200px;
    height: auto;
}
